* {
  margin: 0;
  font-family: Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue",
    sans-serif;
}

header,
footer,
.section-1 {
  background-color: #1f2937;
  color: #f9faf8;
}

header {
  display: flex;
  justify-content: space-between;
  padding: 16px;
}

header .logo {
  font-size: 24px;
  font-weight: bold;
}

header .links {
  display: flex;
  gap: 16px;
  font-size: 18px;
  color: #b2b2b2;
}

.section-1 {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  padding: 50px;
}

.main-image {
  width: 400px;
  height: 200px;
  flex-shrink: 0;
  background-color: lightgray;
  color: rgb(88, 88, 88);
  display: flex;
  justify-content: center;
  align-items: center;
}

.section-1 > .container {
  max-width: 350px;
  display: flex;
  flex-direction: column;
  gap: 12px;
}

.section-1 .title {
  font-size: 48px;
  font-weight: bolder;
  color: #f9faf8;
}

.section-1 .subtext {
  font-size: 18px;
  color: #e5e7eb;
}

.sign-up {
  background-color: #3882f6;
  color: #f9faf8;
  width: 100px;
  padding: 6px;
  border-radius: 4px;
  border: none;
  font-weight: 600;
}

.section-2 {
  padding: 50px;
}

.section-2 .title {
  text-align: center;
  font-size: 36px;
  font-weight: bolder;
  color: #1f2937;
  margin-bottom: 32px;
}

.illustrations {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 10px;
}

.illustration-container {
  flex-basis: 150px;
  text-align: center;
  color: gray;
  flex-grow: 0;
  flex-shrink: 0;
}

.illustration {
  border: 3px solid #3882f6;
  border-radius: 6px;
  width: 75px;
  height: 75px;
  margin: 0 auto;
}

.section-3 {
  background-color: #e5e7eb;
  padding: 50px;
}

.section-3 .content {
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 800px;
  margin: 0 auto;
}

.section-3 .quote {
  font-size: 24px;
  font-style: italic;
  color: #1f2937;
  font-weight: lighter;
  text-align: center;
}

.section-3 .author {
  align-self: flex-end;
  font-weight: bold;
}

.section-4 {
  margin: 40px;
  background-color: #3882f6;
  border-radius: 7px;
  color: #f9faf8;
  display: flex;
  padding: 35px;
  justify-content: space-between;
}

.section-4 .sign-up {
  border: 2px solid white;
}

.section-4 .title {
  font-weight: bold;
}

footer {
  padding: 40px;
  text-align: center;
}
